<!-- Top container -->
<div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4">
  <button class="w3-button w3-hide-large w3-padding-0 w3-black w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span><%=user.local.username%></span>
  <span class="w3-right"><a href="/logout" class="w3-button fa fa-close"> Logout</a></span>
</div>
