<html>
    <title>SAU-CYBER</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <body class="w3-light-grey">
        <div class="w3-container w3-display-middle">
            <div class="w3-panel w3-border">
                <div class="w3-container">
                    <div class="w3-container w3-margin">
                        <div class="w3-container">
                            <h1><span class="fa fa-lock"></span> Authentication</h1>
                        </div> 
                        <div class="w3-half">            
                            <a href="/login" class="w3-btn" style="width:150px"><span class="fa fa-user"></span> Login</a>
                        </div>
                        <div class="w3-half"> 
                            <a href="/signup" class="w3-btn" style="width:150px"><span class="fa fa-user"></span> Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <% include layout/js.ejs %> 
    </body>
</html>

<!--
<div class="w3-container w3-display-middle">
            <div class="w3-panel w3-border">
                <div class="w3-container">
                    <div class="w3-container w3-margin">
                        <div class="w3-container">
                            <h1><span class="fa fa-lock"></span> Authentication</h1>
                        </div> 
                        <div class="w3-half">            
                            <a href="/login" class="w3-btn" style="width:150px"><span class="fa fa-user"></span> Login</a>
                        </div>
                        <div class="w3-half"> 
                            <a href="/signup" class="w3-btn" style="width:150px"><span class="fa fa-user"></span> Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
-->