<div id="loading" class="w3-modal"  style="display:none;">
    <div class="w3-modal-content w3-animate-top w3-card-8">
        <div class="w3-container">
            <div id="loadingContent" class="w3-container w3-display-middle w3-black">
                <p><br /><i class="fa fa-spinner w3-spin w3-margin-right" style="font-size:100%"></i><label>Sonuçlar alınıyor...</label></p>
            </div>
        </div>
    </div>
</div>